<div class="row">
    <div class="col-sm-4">
        <h4>Library Management System</h4>
      </div>
      <div class="col"></div>
      <div class="col-sm-2">

          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <a [routerLink]="['/user/user-detail',currentUser.username]" class="btn btn-info" >{{currentUser.username}}</a>
              <a [routerLink]="['/login']" class="btn btn-secondary" >LOGOUT</a>
          </div>
      </div>
</div>
<div class="col-sm-12">
  <router-outlet></router-outlet>

</div>
<hr>
<hr>
<hr>
<hr>
<hr>
