<h2>Yazar: {{author.name}}  {{author.surname}}</h2>
<hr>
<div *ngIf="message" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Dikkat !!! </strong> {{message}} 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<button class="btn btn-secondary" (click)="backClicked()" >Back</button>
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateAuthorPanel" 
  (click)="LoadAuthorUpdateForm(author)" data-whatever="@mdo"> Güncelle </button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertBookPanel" 
  (click)="LoadInsertBookForm()" data-whatever="@mdo"> Kitap
  Oluştur </button>

  <!--Update Author form start-->
  <div  class="modal fade" id="updateAuthorPanel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" width="500px " style="width: 500px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Yazar Bilgilerini Güncelle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="updated; else elseBlock1"  class="modal-body">
        <form [formGroup]="AuthorUpdateForm" (ngSubmit)="updateAuthor()">
          <div class="form-group">
            <label>name</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': f2.name.errors }" />
            <div *ngIf="f2.name.errors" class="invalid-feedback">
              <div *ngIf="f2.name.errors.required">name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Surname</label>
            <input type="text" formControlName="surname" class="form-control"
              [ngClass]="{ 'is-invalid': f2.surname.errors }" />
            <div *ngIf="f2.surname.errors" class="invalid-feedback">
              <div *ngIf="f2.surname.errors.required">surname is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': f2.email.errors }" />
            <div *ngIf="f2.email.errors" class="invalid-feedback">
              <div *ngIf="f2.email.errors.required">email is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" formControlName="phone" class="form-control"
              [ngClass]="{ 'is-invalid': f2.phone.errors }" />
            <div *ngIf="f2.phone.errors" class="invalid-feedback">
              <div *ngIf="f2.phone.errors.required">phone is required</div>
            </div>
          </div>
          <!-- <div class="form-group">
            <label>About</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"  formControlName="about" class="form-control"
              [ngClass]="{ 'is-invalid': f2.about.errors }" ></textarea>
          </div> -->
          <div class="form-group" >
            <label>About</label>
            <editor class="editor" formControlName="about" [init]="{height: 500, plugins: 'link'}" ></editor>
            <div *ngIf="f2.about.errors" class="invalid-feedback">
              <div *ngIf="f2.about.errors.required">about is required</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >UPDATE</button>
          </div>
        </form>
      </div>
      <ng-template #elseBlock1>
        <div class="modal-body">
          <h5>Perfect.....!</h5>
          <strong>Author was updated.....</strong>
        </div>
      </ng-template>
      <div class="modal-footer">
        <button class="btn btn-secondary"  data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>
<!--Update Author form ende-->


  <!--Create Book form start-->
<div  class="modal fade" id="insertBookPanel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kitap Oluştur...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="showModal; else elseBlock2" class="modal-body">
        <form [formGroup]="BookForm" (ngSubmit)="saveBook()">
          <div class="form-group">
            <label>name</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': f1.name.errors }" />
            <div *ngIf="f1.name.errors" class="invalid-feedback">
              <div *ngIf="f1.name.errors.required">name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Publisher</label>
            <input type="text" formControlName="publisher" class="form-control"
              [ngClass]="{ 'is-invalid': f1.publisher.errors }" />
            <div *ngIf="f1.publisher.errors" class="invalid-feedback">
              <div *ngIf="f1.publisher.errors.required">publisher is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>barcode</label>
            <input type="text" formControlName="barcode" class="form-control"
              [ngClass]="{ 'is-invalid': f1.barcode.errors }" />
            <div *ngIf="f1.barcode.errors" class="invalid-feedback">
              <div *ngIf="f1.barcode.errors.required">barcode is required</div>
            </div>
          </div>
          <div class="form-group">
            <label class="badge">Book Status</label>
            <select formControlName="bookStatus" class="form-control" >
              <option *ngFor="let val of bookStatuses" [value]="val">{{val}}</option>
            </select>
            <div *ngIf="f1.bookStatus.errors" class="invalid-feedback">
              <div *ngIf="f1.bookStatus.errors.required">bookStatus is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Author</label>
            <input type="text" readonly [value]="author.name +' '+ author.surname" class="form-control" />
   
          </div>
          <div class="form-group">
            <label>content</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"  
              formControlName="content" class="form-control"
              [ngClass]="{ 'is-invalid': f1.content.errors }" ></textarea>
            <div *ngIf="f1.content.errors" class="invalid-feedback">
              <div *ngIf="f1.content.errors.required">content is required</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Create</button>
          </div>
        </form>
      </div>
      
      <ng-template #elseBlock2>
          <div class="modal-body">
            <h5>Perfect.....!</h5>
            <strong>Book was added.....</strong>
          </div>
        </ng-template>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>
<!--Create Book form ende-->

<hr>

<!--Author Detail Start-->
<div class="card">
  <h5 class="card-header">Yazarın Özellikleri</h5>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>İsim Soyisim : </b>{{author.name}}  {{author.surname}}   </li>
      <li class="list-group-item"><b>Email : </b>{{author.email}} </li>
      <li class="list-group-item"><b>Telefon: </b>{{author.phone}} </li>
      <li class="list-group-item">
        <h5 class="card-title">{{author.name}}  {{author.surname}}  Kimdir ? </h5>
        <p class="card-text"><b>Kimdir ? </b></p>
        <br>
        <p [innerHTML]="author.about"></p>
      </li>
    </ul>
  </div>
</div>
<!--Author Detail End-->
<hr>
<!--Author Book Start-->
<h2>Yazar {{author.name}}  {{author.surname}} Kitapları</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">Barcode</th>
      <th scope="col">Publisher</th>
      <th scope="col">Book Status</th>
      <th scope="col">İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let book of books">
      <td>{{book.id}}</td>
      <td>{{book.name}}</td>
      <td>{{book.barcode}}</td>

      
      <td>{{book.publisher}}</td>
      <td>{{book.bookStatus}}</td>
      <td>
        <a [routerLink]="['../../../book/book-detail/',book.id]" class="btn btn-sm btn-info">Detaylı Gör</a>
        <button class="btn btn-sm btn-danger" (click)="deleteBook(book.id)" >Sil</button>
        <!-- <a href="book/book-detail/{{book.id}}" class="btn btn-sm btn-success"><strong>Detaylı Gör2</strong></a> -->
      </td>
    </tr>
  </tbody>
</table>
<!--Author Book End-->