<h2>Books</h2>
<!-- <a href="/book"  class="btn btn-primary mb-2">Yenile</a> -->
<button (click)='ngOnInit()' class="btn btn-primary mb-2">Refresh</button>
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#insertBookPanel"
        (click)="LoadInsertBookForm()" data-whatever="@mdo"> Create book </button>
<hr>
<div *ngIf="message" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong> </strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="form-inline" [formGroup]="searchBookForm" (ngSubmit)="searchBook()">
  <div class="form-group">
    <label for="inputPassword6">Enter book name : </label>
    <input type="text" class="form-control mx-sm-3" placeholder="3 characters" formControlName="name"
      class="form-control" [ngClass]="{ 'is-invalid': sf.name.errors }" />
    <div *ngIf="sf.name.errors" class="invalid-feedback">
      <div *ngIf="sf.name.errors.minLength">name has to be least 3 characters.</div>
    </div>
  </div>
  <div class="from-group">
    <button type="submit" class="btn btn-primary mb-2"> Search </button>
  </div>
</form>
<!--Create Book form start-->
<div  class="modal fade" id="insertBookPanel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create book...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="showModal; else elseBlock2" class="modal-body">
        <form [formGroup]="BookForm" (ngSubmit)="saveBook()">
          <div class="form-group">
            <label>name</label>
            <input type="text" formControlName="name" class="form-control"
                   [ngClass]="{ 'is-invalid': f1.name.errors }" />
            <div *ngIf="f1.name.errors" class="invalid-feedback">
              <div *ngIf="f1.name.errors.required">name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Publisher</label>
            <input type="text" formControlName="publisher" class="form-control"
                   [ngClass]="{ 'is-invalid': f1.publisher.errors }" />
            <div *ngIf="f1.publisher.errors" class="invalid-feedback">
              <div *ngIf="f1.publisher.errors.required">publisher is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>barcode</label>
            <input type="text" formControlName="barcode" class="form-control"
                   [ngClass]="{ 'is-invalid': f1.barcode.errors }" />
            <div *ngIf="f1.barcode.errors" class="invalid-feedback">
              <div *ngIf="f1.barcode.errors.required">barcode is required</div>
            </div>
          </div>
          <div class="form-group">
            <label class="badge">Book Status</label>
            <select formControlName="bookStatus" class="form-control" >
              <option *ngFor="let val of bookStatuses" [value]="val">{{val}}</option>
            </select>
            <div *ngIf="f1.bookStatus.errors" class="invalid-feedback">
              <div *ngIf="f1.bookStatus.errors.required">bookStatus is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>content</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
                      formControlName="content" class="form-control"
                      [ngClass]="{ 'is-invalid': f1.content.errors }" ></textarea>
            <div *ngIf="f1.content.errors" class="invalid-feedback">
              <div *ngIf="f1.content.errors.required">content is required</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Create</button>
          </div>
        </form>
      </div>

      <ng-template #elseBlock2>
        <div class="modal-body">
          <h5>Perfect.....!</h5>
          <strong>Book was added.....</strong>
        </div>
      </ng-template>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>
<!--Create Book form ende-->
<hr>
<div *ngIf="control; else elseBlock2">
    <ngx-datatable
    class="bootstrap"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.page"
    [limit]="page.size"
    (page)='setPage($event)'>
      <ngx-datatable-column prop="id" name="No" sortable="false" maxWidth="30" draggable="false" ></ngx-datatable-column>
      <ngx-datatable-column prop="name" name="name" sortable="false" draggable="false"></ngx-datatable-column>
      <ngx-datatable-column prop="barcode" name="barcode" sortable="false"></ngx-datatable-column>
      <ngx-datatable-column prop="publisher" name="publisher" sortable="false"></ngx-datatable-column>
      <ngx-datatable-column prop="bookStatus" name="bookStatus" sortable="false"></ngx-datatable-column>
      <ngx-datatable-column prop="id" name="Actions " sortable="false" draggable="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['book-detail/',value]" class="btn btn-sm btn-info"><strong>View Details</strong></a>
          <button class="btn btn-sm btn-danger" (click)="deleteBook(value)" ><strong>Delete</strong></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

  <ng-template #elseBlock2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">barcode</th>
          <th scope="col">publisher</th>
          <th scope="col">bookStatus</th>
          <th scope="col">Transactions</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let book of books">
          <td>{{book.id}}</td>
          <td>{{book.name}}</td>
          <td>{{book.barcode}}</td>
          <td>{{book.publisher}}</td>
          <td>{{book.bookStatus}}</td>

          <td>
            <a [routerLink]="['book-detail/',value]" class="btn btn-sm btn-success"><strong>View Detailed</strong></a>
            <button class="btn btn-sm btn-danger" (click)="deleteBook(book.id)" ><strong>Delete</strong></button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
  </ng-template>
