<h1>Book Selection Panel  </h1>
<button class="btn btn-secondary" (click)="backClicked()">Back</button>
<button (click)='ngOnInit()' class="btn btn-primary">Refresh</button>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
  Student information
</button>

<!--Student details start-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Student information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Name : </b>{{student.fullname}}</li>
          <li class="list-group-item"><b>cin : </b>{{student.cin}} </li>
          <li class="list-group-item"><b>email : </b>{{student.email}} </li>
          <li class="list-group-item"><b>phone: </b>{{student.phone}}</li>
          <li class="list-group-item"><b>university : </b>{{student.university}}</li>
          <li class="list-group-item"><b>department : </b>{{student.department}}</li>
          <li class="list-group-item"><b>address : </b>{{student.address}} </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Student details end-->

<hr>
<div *ngIf="message" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Attention !!! </strong> {{message}} 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="form-inline" [formGroup]="searchBookForm" (ngSubmit)="searchBook()">
  <div class="form-group">
    <label for="inputPassword6">Enter book name : </label>
    <input type="text" class="form-control mx-sm-3" placeholder="Ara (en az 3 karakter)" formControlName="name"
      class="form-control" [ngClass]="{ 'is-invalid': sf.name.errors }" />
    <div *ngIf="sf.name.errors" class="invalid-feedback">
      <div *ngIf="sf.name.errors.minLength">name has to be least 3 characters.</div>
    </div>
  </div>
  <div class="from-group">
    <button type="submit" class="btn btn-primary mb-2"> Search </button>
  </div>
</form>
<hr>
<h3>Books </h3>
<div *ngIf="control; else elseBlock2">
  <ngx-datatable
  class="bootstrap"
  [rows]="rows"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [count]="page.totalElements"
  [offset]="page.page"
  [limit]="page.size"
  (page)='setPage($event)'>
    <ngx-datatable-column prop="id" name="No" sortable="false" maxWidth="50" draggable="false" ></ngx-datatable-column>
    <ngx-datatable-column prop="name" name="name" sortable="false" draggable="false"></ngx-datatable-column>
    <!-- <ngx-datatable-column prop="barcode" name="barcode" sortable="false"></ngx-datatable-column> -->
    <ngx-datatable-column prop="author.name" name="Author Name" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="author.surname" name="Author Surname" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="publisher" name="publisher" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="bookStatus" name="bookStatus" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="student.fullname" name="Student" sortable="false"></ngx-datatable-column>
    <ngx-datatable-column prop="id" name="Get Book" sortable="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <button  class="btn btn-sm btn-warning"  (click)="getBook( value)"  ><strong>Get the Book</strong></button>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="id" name="Actions " sortable="false" draggable="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a [routerLink]="['../../../book/book-detail/',value]" class="btn btn-sm btn-success"><strong>View Details</strong></a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
  
  <ng-template #elseBlock2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">barcode</th>
          <th scope="col">Author Name</th>
          <th scope="col">Author Surname</th>
          <th scope="col">publisher</th>
          <th scope="col">bookStatus</th>
          <th scope="col">Student</th>
          <th scope="col">Transactions</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let book of books">
          <td>{{book.id}}</td>
          <td>{{book.name}}</td>
          <td>{{book.barcode}}</td>
          <td>{{book.author.name}}</td>
          <td>{{book.author.surname}}</td>
          <td>{{book.publisher}}</td>
          <td>{{book.bookStatus}}</td>
          <td *ngIf="book.student; else elseStudent">{{book.student.fullname}}</td>          
          <ng-template #elseStudent>
            <td></td>
          </ng-template>
          <td>
            <a  (click)="getBook(book.id)"  class="btn btn-sm btn-warning"><strong>Get the Book</strong></a>
            <a [routerLink]="['../../../book/book-detail/',book.id]" class="btn btn-sm btn-success"><strong>View Details</strong></a>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
  </ng-template>