<h2>Students</h2>
<a href="/student"  class="btn btn-primary mb-2">Refresh</a>
<hr>
<div *ngIf="message" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Attention !!! </strong> {{message}} 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateStudentPanel" 
(click)="LoadStudentInsertForm()" data-whatever="@mdo"> Add Student </button>


<!--Update Student form start-->
<div  class="modal fade" id="updateStudentPanel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="showModal; else elseBlock1"  class="modal-body">
      <form [formGroup]="StudentInsertForm" (ngSubmit)="insertStudent()">
        <div class="form-group">
          <label>fullname</label>
          <input type="text" formControlName="fullname" class="form-control"
            [ngClass]="{ 'is-invalid': sif.fullname.errors }" />
          <div *ngIf="sif.fullname.errors" class="invalid-feedback">
            <div *ngIf="sif.fullname.errors.required">fullname is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>cin</label>
          <input type="text" formControlName="tcNo" class="form-control"
            [ngClass]="{ 'is-invalid': sif.tcNo.errors }" />
          <div *ngIf="sif.tcNo.errors" class="invalid-feedback">
            <div *ngIf="sif.tcNo.errors.min">cin is least 8 characters</div>
            <div *ngIf="sif.tcNo.errors.max">cin is most 8 characters</div>
            <div *ngIf="sif.tcNo.errors.required">cin is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>email</label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': sif.email.errors }" />
          <div *ngIf="sif.email.errors" class="invalid-feedback">
            <div *ngIf="sif.email.errors.required">email is required</div>
            <div *ngIf="sif.email.errors.email">email must be email adress</div>
          </div>
        </div>
        <div class="form-group">
          <label>phone</label>
          <input type="text" formControlName="phone" class="form-control"
            [ngClass]="{ 'is-invalid': sif.phone.errors }" />
          <div *ngIf="sif.phone.errors" class="invalid-feedback">
            <div *ngIf="sif.phone.errors.required">phone is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>address</label>
          <input type="text" formControlName="address" class="form-control"
            [ngClass]="{ 'is-invalid': sif.address.errors }" />
          <div *ngIf="sif.address.errors" class="invalid-feedback">
            <div *ngIf="sif.address.errors.required">address is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>university</label>
          <input type="text" formControlName="university" class="form-control"
            [ngClass]="{ 'is-invalid': sif.university.errors }" />
          <div *ngIf="sif.university.errors" class="invalid-feedback">
            <div *ngIf="sif.university.errors.required">university No is required</div>
          </div>
        </div>
        <div class="form-group">
          <label>department</label>
          <input type="text" formControlName="department" class="form-control"
            [ngClass]="{ 'is-invalid': sif.department.errors }" />
          <div *ngIf="sif.department.errors" class="invalid-feedback">
            <div *ngIf="sif.department.errors.required">depertmant No is required</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >INSERT</button>
        </div>
      </form>
    </div>
    <ng-template #elseBlock1>
      <div class="modal-body">
        <h5>Perfect.....!</h5>
        <strong>Student was updated.....</strong>
      </div>
    </ng-template>
    <div class="modal-footer">
      <button class="btn btn-secondary"  data-dismiss="modal" >Close</button>
    </div>
  </div>
</div>
</div>
<!--Update Student form ende-->
<hr>
<div *ngIf="control; else elseBlock2">
    <ngx-datatable
    class="bootstrap"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.page"
    [limit]="page.size"
    (page)='setPage($event)'>
      <ngx-datatable-column prop="id" name="No" sortable="false" maxWidth="30" draggable="false" ></ngx-datatable-column>
      <ngx-datatable-column prop="tcNo" name="Tc NNo" sortable="false" maxWidth="100"></ngx-datatable-column>
      <ngx-datatable-column prop="fullname" name="fullname" sortable="false" draggable="false"></ngx-datatable-column>
      <ngx-datatable-column prop="email" name="email" sortable="false" draggable="false"></ngx-datatable-column>
      <ngx-datatable-column prop="phone" name="phone" sortable="false" maxWidth="120" draggable="false"></ngx-datatable-column>
      <ngx-datatable-column prop="university" name="university" sortable="false" draggable="false"></ngx-datatable-column>
      <ngx-datatable-column prop="department" name="department" sortable="false" draggable="false"></ngx-datatable-column>
      <!-- <ngx-datatable-column prop="address" name="address" sortable="false" draggable="false"></ngx-datatable-column> -->
      
      <ngx-datatable-column prop="id" name="Actions " sortable="false" draggable="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a [routerLink]="['get-book/',value]" class="btn btn-sm btn-warning" >choose book</a>
          <a [routerLink]="['student-detail/',value]" class="btn btn-sm btn-info"><strong>View Detailed</strong></a>
          <button class="btn btn-sm btn-danger" (click)="deleteStudent(value)" ><strong>Sil</strong></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  
  <ng-template #elseBlock2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">id</th>
          <th scope="col">barcode</th>
          <th scope="col">Author Name</th>
          <th scope="col">publisher</th>
          <th scope="col">bookStatus</th>
          <th scope="col">Transactions</th>
        </tr>
      </thead>
      <!-- <tbody>
        <tr  *ngFor="let book of books">
          <th scope="row">#</th>
          <td>{{book.id}}</td>
          <td>{{book.name}}</td>
          <td>{{book.author.name}}</td>
          <td>{{book.publisher}}</td>
          <td>{{book.bookStatus}}</td>
          <td>
            <a [routerLink]="['book-detail/',value]" class="btn btn-sm btn-info"><strong>Detaylı Gör</strong></a>
            <button class="btn btn-sm btn-danger" (click)="deleteBook(book.id)" ><strong>Sil</strong></button>
          </td>
        </tr>
      </tbody> -->
    </table>
    <hr>
  </ng-template>